@mixin HWD($height, $width, $flex, $flex-direction, $align, $justify) {
height: $height;
width: $width;
display: $flex;
flex-direction: $flex-direction;
align-items: $align;
justify-content: $justify;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  height: 100%;
  min-width: 100%;
  margin: 0;
}



#root {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  min-width: 100%;

}

// MOBILE QUERY - SCREEN SMALLER THAN 720px
#about-me, #projects { 
  height: 12vh;
  background-image: linear-gradient(#FFF1EE, #FFFEFE)
}

#skills, #contact {
  height: 14vh;
  width: 100vw;
  background-image: linear-gradient( #FFFEFE ,#FFF1EE)
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFF1EE;
  font-family: 'Aleo', sans-serif;
  .homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introduction {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    p {
      font-size: 4vmax;
      color: #353535;
      font-variant: small-caps;
    }
    .learn-more {
      // background-color: green;
      width: 60%;
      display: flex;
      align-self: center;
      align-items: center;
      font-size: 1.4em;
      justify-content: space-evenly;
      margin-top: 0.5em;
      opacity: 0;
      animation: fade ease-in forwards 2s;
      animation-delay: 10s;
      .icon {
        animation: bounce ease-in-out 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    p {
      font-size: 0.8em;
    }
  }
  }
  .currently {
    width: 0%;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-self: center;
    font-style: 900;
    font-size: 0.7em;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(116, 114, 114);
    color: transparent;
    text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
    opacity: 0;
    margin-top: 1em;
    overflow: hidden;
    span {
      color: #353535;
    }
  }
  
}
// NAVBAR

.header {
  animation: slideIn linear 5s;
  animation-fill-mode: forwards;
  background-color: #FFF1EE;
  position: fixed;
  width: 100vw;
  height: 12%;
  font-size: 5.5vmin;
  font-variant: small-caps;
  letter-spacing: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #353535;
  z-index: 100;
  div {
    @include HWD(50%,100%,flex,row,center,center);
  }
    .navbar {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FFFEFE;
      letter-spacing: 1vmin;
        ul {
          width: 95%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0;
          li {
            // background-color: rosybrown;
            list-style: none;
            font-size: 0.7em;
            text-align: center;
            a {
              height: 20px;
              // background-color: red;
              font-family: 'Lato', sans-serif;
              text-decoration: none;
              color: #353535;
              padding: 0.1em;
              &:hover {
                font-weight: 900;
                border-bottom: 3px solid #E2D7D4;
                border-top: 3px solid #E2D7D4;
              }
            }
        }
        }
      }
  }




  // About Section


  .about-me {
    background-color: #FFFEFE;
    font-family: 'Aleo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353535;
    h1 {
      font-size: 6vmin;
      letter-spacing: 1vmin;
    }
    .brand-statement {
      width: 95%;
      display: flex;
      flex-direction: column;
      height: 75%;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 4.5vmin;
      }
      p {
        width: 95%;
        text-align: justify;
      }
      .brand-header {
        // background-color: lightcoral;
        display: flex;
        height: 2vh;
        width: 96vw;
        justify-content: space-between;
        align-items: center;
        img {
          height: 4vh;
        }
        .icon {
          color: black;
          font-size: 4.5vmin;
        }
      }
      .statement {
        height: 65vh;
        font-size: 1.7vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    
  }
  .outside-coding {
    width: 95%;
    margin-bottom: 10vmin;
    border-top: 2px solid #EFE5E2;
    border-bottom: 2px solid #EFE5E2;
    .interests{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 2vmin;
        span {
          font-size: 1.4vmax;
          font-style: italic;
          margin-bottom: 1em;
        }
      .interests-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
        height: 100%;
      }
      
      .interest {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 98%;
        height: 100px;
        font-size: 1.8vmax;
        color: #353535;
        margin-bottom: 5px;
        div {
          // background-color: rosybrown;
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        h3 {
          font-size: 2.2vmax;
          font-weight: bold;
        }
        small {
          font-style: italic;
        }
      }
      .listening {
        height: 250px;
        h4 {
          font-weight: bold;
        }
      }
    }
  }
    }

    .experience-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 60vh;
      .roles {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .experience {
        background-color: #FFF1EE;
        width: 100%;
        font-size: 0.9rem;
        &:nth-of-type(7) {
          margin-bottom: 2vh;
        }
        .experience-info {
          background-color: #FFF1EE;
          height: 2.5em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          .experience-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 0.5rem;
            &:focus {
              font-weight: bold;
            }
          }
      }
      .expMoreInfo  {
        height: 0em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9em;
        p {
          width: auto;
        }
        .single-expereince-expand {
          @include HWD(100%, 95%, flex, column, start, space-evenly);   
        }
      }
    }
    }
      .toggle {
        color: #353535;
        background-color: #f5f5f5;
        border: 0.01rem outset #C9C8C8;
        font-size: 1rem;
        height: 1.5em;
        width: 1.6em;
        outline: #E2D7D4;
        &:hover {
         box-shadow: -20px 0px 100px rgba(0, 0, 0, 0.671);
        }
      }
      .multiple-role-info {
        height: 0em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        .roles-header {
          height: 12em;
          width: 98%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          margin:0.1em;
        }
        .expanded-header {
          height: 2em;
          width: 96%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .expanded-info {
          height: 0em;
          width: 98%;
          overflow: scroll;
          font-size: 0.9em;
          display: flex;
          justify-content: space-between;
          align-self: center;
        }
      }

      // More Info JS

      .pop-up {
        height: 60vh;
        width: 95vw;
        background-color: green;
      }
      

.skills {
  background-color: #FFF1EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Aleo', sans-serif;
  .skills-container {
    // background-color: indigo;
    width: 90vw;
    // height: 70vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .skills {
      // background-color: hotpink;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: #353535;
      h2 {
        display: flex;
        align-self: flex-start;
        font-size: 5vmin;
        font-weight: bold;
      }
      .confident-skills, .comfortable-skills, .dabbled-skills{
        // background-color: green;
        // height: 37vh;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #353535;
        .icon {
          height: 9vh;
          width: 15vw;
          font-size: 5vmax;
          color: #353535;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          &:hover {
            color: #C9C8C8;
            p {
              background-color: #FFFEFE;
              color: #353535;
              opacity: 1;
            }
          }          
          p {
            font-size: 3.5vmin;
            position: absolute;
            color: #353535;
            font-weight: bold;
            padding: 0 3vmin;
            text-align: center;
            opacity: 0;
          }
        }
        img {
         max-height: 5vh;
         max-width: 11vw;
         color:  #353535;
        }
        #JSON {
          height: 1.5vh;
          max-width: 11vw;
        }
        #bulma {
          max-height: 3.7vh;
          max-width: 8vw;
        }
      }

    }
  
  }
}

.projects {
  background-color: #FFFEFE;
  height: 90vh;
  color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .selected-project {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      p {
        font-size: 0.7em;
        width: 98%;
      }
      img {
        max-height: 25vh;
        max-width: 98%;
        margin: 1.3em;
      }
      h1 {
        font-size: 1.7em;
        display: flex;
        align-self: flex-start;
        font-weight: bold;
      }
      .project-notes {
        // background-color: yellow;
        @include HWD(310px, auto, flex ,column, center,space-between )
      }
      .description {
        // background-color: indianred;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
        width: 98%;
        h1 {
          font-size: 2em;
        }
        h5 {
          font-weight: bold;
          margin-left: 0.5vmin;
          font-size: 3vmin;
        }
        .skills {
          border: 1px solid #E2D7D4;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-self: center;
          width: 100%;
          max-height: 12.5vh;
          margin: 0 1.3em;
          p {
            margin: 1vmin;
            font-size: 2.8vmin;
            width: auto;
          }
        }
      }
      .project-links {
        
        width: 100%;
        height: 30px;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5em 0;
        .icon {
          color: #C9C8C8;
          &:hover {
           color: #353535;
          }
        a {
          color: #C9C8C8;
          &:hover {
           color: #353535;
          }
        }
      }
      }
    }

  }
  .modal{
   justify-self: center;
  .modal-background {
    background-color: rgba(176, 169, 169, 0.4);
    justify-self: center;
  }
  .modal-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: #EFE5E2;
    border: 0.5vmin solid #FFFEFE;
    font-size: 1.6vmax;
    height: 30%;
    width: 90%;
    padding: 1.5%;
    h2 {
      letter-spacing: 3px;
      font-size: 5vmin;
      font-weight: 900;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(116, 114, 114);
      color: transparent;
    }
    .icon {
      font-size: 3.3vmin;
    }
    a {
      color: #353535;
      font-weight: 900;
      &:hover {
        color: #999898;
      }
    }
  }
}

.contact {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF1EE;
  h2 {
    font-size: 2.4vmax;
    letter-spacing: 2px;
  }
  .get-in-touch {
    font-size: 4vmax;
    width: 96vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 8vmin;
      letter-spacing: 2vmin;
      font-variant: small-caps;
    }
    .logos {
      width: 25vw;
      display: flex;
      justify-content: space-around;
      font-size: 5vmin;
      align-items: center;
      .fa-github, .fa-linkedin {
        color: #353535;
        &:hover {
          color: #cfcfcf;
        }
      }
    }
  }
  .form {
    height: 60%;
    // background-color: salmon;
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      .short-inputs {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

      }
      input {
        width: 95vw;
        font-size: 15px;
        background-color: #FFFEFE;
        padding: 2px;
        &:focus {
          outline: none;
          border: 2px double white;
          box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1) !important;
        }
      }
      .message {
        height: 60%;
        width: 95vw;
        background-color: #FFFEFE;
        padding: 2px;
        &:focus {
          outline: none;
          border: 2px double #FFFEFE;
          box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1) !important;
        }
      }
      button {
        background-color: #FFFEFE;
        height: 6vh;
        font-size: 2.2vmax;
        width: 30vw;
        border-radius: 5px;
        font-family: 'Aleo', sans-serif;
        color: #353535;
        border: 2px solid #C9C8C8;
      }
    }
  }
}
.email-sent {
  height: 50vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmax;
  text-align: center;
  h1 {
    font-size: 5vmin;
  }
}



.footer {
  background-color: #FFFEFE;
  width: 100%;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    color: #353535
  }
  50% {
    color: #999898;
  }
  100% {
    color: #C9C8C8;
  }
}

@keyframes grow {
  0% {
    height: 0em;
    overflow: hidden;
  }

  25% {
    height: 2em;
    overflow: hidden;
  }
  50% {
    height: 4em;
    overflow: hidden;
  } 
  100% {
    height: 9em;
    overflow: hidden;
  }
}

@keyframes expandedGrow {
  0% {
    height: 9em;
    overflow: hidden;
  }

  100% {
    height: 12em;
    overflow: hidden;
  }
}

@keyframes showExpandedInfo {
  0% {
    height: 0em;
    overflow: hidden;
  }
  100% {
    height: 4.5em;
    overflow: hidden;
  }
}

@keyframes hideRole {
  0% {
    height: 4.5em;
    overflow: hidden
  }
  100% {
    height: 0em;
    overflow: hidden;
  }
}

@keyframes HideExpansion {
  0% {
    height: 12em;
    overflow: hidden;
  }
  100% {
    height: 9em;
    overflow: hidden;
  }
}

@keyframes hide {
  0% {
    height: 10em;
    overflow: hidden;
  }
  25% {
    height: 6em;
    overflow: hidden;
  }
  50% {
    height: 4em;
    overflow: hidden;
  }
  100% {
    height: 0em;
    overflow: hidden;
  }
}


@keyframes showInfo {
  0% {
    height: 0em;
    width: 0em;
    overflow: hidden;
    opacity: 0;
    border: none;
}
50% {
  height: 0em;
  width: 90%;
  overflow: hidden;
  opacity: 0.5;
  border: none;
}
100% {
  height: 10em;
  width: 90%;
  overflow: hidden;
  opacity: 1;
  border: 0.5em double #353535;
}
}

@keyframes hideInfo {
  0% {
    height: 10em;
    width: 90%;
    overflow: hidden;
    opacity: 1;
    border: 0.5em double #353535;
  }
  50% {
    height: 0em;
    width: 90%;
    overflow: hidden;
    opacity: 0.5;
    border: none;
  }
  100% {
    height: 0em;
    width: 0em;
    overflow: hidden;
    opacity: 0;
    border: none;
  }
}


@keyframes slideIn {
  0% { 
   right: 100%;
   top: 45%;
   opacity: 0;
  }
  30% { 
    right: 0%;
    top: 45%;
    opacity: 0.3;
  }
  50% {
    right: 0%;
    top: 45%;
    opacity: 0.6;
  }
  75% {
    right: 0%;
    top: 0%;
    opacity: 1;
  }
  100% {
    right: 0%;
    top: 0%;
    opacity: 1;
  }
}


@media only screen and (min-width: 650px) {
  .homepage {
    // background-color: lightgrey;
    .introduction {
      p {
      font-size: 5vmin;
      }
      .learn-more {
        font-size: 2em;
      }
    }
    .header {
      height: 13vh;
      .navbar {
        ul {
          li {
            font-size: 0.5em;
            align-items: center;
            justify-content: center;
            a {
              padding: 0.1em;
            }
          }
        }
      }
    }
  .currently {
    font-size: 1em;
    width: 80%;
  }
}

.about-me {
  h1 {
    font-size: 4.5vmin;
  }
  .brand-statement {
    .brand-header {
      height: 10vh;
      h2 {
        font-size: 4vmin;
      }
      .icon {
        font-size: 3vmin;
      }
    }
    .statement {
      height: 80vh;
      font-size: 2.5vmin;
    }
  }
  .interests {
    span {
      font-size: 2vmin !important;
    }
    .interest {
      // background-color: tan;
      h3 {
        font-size: 3vmin !important;
      }
      h4 {
        font-size:  2.5vmin !important;
      }
      p {
        font-size: 2.3vmin !important;
      }
    }
  }
 .experience-container {
   justify-content: space-evenly;
   height: 100%;
  //  background-color: violet;
   h1 {
     margin-bottom: 5vmin;
   }
   .roles {
    //  background-color: turquoise;
     flex-direction: row;
     align-content: flex-start;
     flex-wrap: wrap;
     height: 30%;
   }
    .experience {
      // width: 45%;
      height: 100%;
      margin-bottom: 5vmin;
      .experience-info {
        height: 45px;
        .experience-header {
          display: flex;
          align-items: center;
        }
      }
      h3, .multiple-role-info { 
        font-size: 1.2em;
        .expanded-info {
          display: flex;
          align-items: center;
        }
      }
      .expMoreInfo {
          font-size: 1.2em;
      }
    }
  }
}
 .skills {
   .skills-container {
     .skills {
      h2 {
        font-size: 3.7vmin;
      }
       .confident-skills, .comfortable-skills, .dabbled-skills {
         .icon {
           font-size: 3em;
           img, #JSON {
            width: 5.5vw !important;
          }
          #bulma {
            width: 5vw !important;
          }
          p {
            font-size: 0.4em;
          }
         }

       }
     }
   }
 }

.projects {
  // background-color: yellow;
  height: 94vh;
  .selected-project {
    min-height: 650px;
    img {
      margin: 0;
    }
    .project-notes {
      // background-color: yellow;
      .description {
        // background-color: firebrick;
        .skills {
          height: 100%;
          h5, p {
            font-size: small;
          }
        }
      }
      p {
        font-size: 0.8em;
      }
      .project-links {
        font-size: 1.7em;
      }
    }
  }
}

.contact {
  height: 100vh;
  .get-in-touch {
    // background-color: lightgreen;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    h1 {
      font-size: 7vmin;
    }
    .logos {
      justify-content: space-around;
      width: 25vw;
      .icon {
        font-size: 5vmin;
      }
    }
  }
  h2 {
    font-size: 4vmin;
  }
  .form {
    width: 85%;
    height: 60%;
    margin: 0;
    display: flex;
    form {
      width: 100%;
      height: 100%;
      .short-inputs {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
          width: 100%;
          height: 5vh;
          font-size: 2.5vmin;
        }
      }
      .message {
        height: 40vh;
        font-size: 2.5vmin;
      }
    }
  }

}

.footer {
  div {
    font-size: 3vmin;
  }
}

}

@media only screen and (min-width: 800px) {
  .homepage {
    // background-color: maroon;
    .learn-more, .currently {
      width: 42% !important;
    }
  }
  .about-me {
    .brand-header {
      img {
        height: 5vh !important;
      }
    }
    .statement {
      font-size: 2vmin !important;
    }
    .outside-coding {
      // background-color: thistle;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: none;
      border-top: none;
      .interests-container {
        height: 50% !important;
        margin-top: 1vmin;
        flex-direction: row !important;
        justify-content: space-between !important;
        .interest {
          // border: 0.2vmin solid #FFF1EE;
          box-shadow: 0 0 30px rgba(255, 241, 238, 0.644), 0 0 30px rgba(255,241,238,0.45), 0 0 30px rgba(255,241,238,0.25), 0 0 30px rgba(255,241,238,0.1);
          // border-radius: 2vmax;
          width: 30vw !important;
          height: 32vh !important;
          padding: 10px;
          align-items: center !important;
          justify-content: space-between !important;
          div {
            height: 100% !important;
            p {
              font-size: 2vmin !important;
            }
          }
          h3 {
            font-size: 2.5vmin !important;
          }
        }
        .listening {
          // background-color: lightpink;
          padding: 10 25px;
          div {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            h4 {
              font-size: 2vmin !important;
            }
            p {
              text-align: center;
            }
          
          }
        }
      }
    }
    .experience {
      margin-bottom: 2vh;
      width: 48%;
      .multiple-role-info {
        .roles-header {
        font-size: 0.8em;
        strong {
          display: flex;
          flex-wrap: wrap;
        }
        }
        .expanded-info {
          margin-top: 1em;
          font-size: 0.9em;
        }
      }
    }
  }
.modal-content {
  width: 60% !important;
}
.contact {
  height: 100vh;
  .form {
    form {
      button {
        width: 20vw;
      }
    }
  }
}
}

@media only screen and (min-width: 1000px) {

  .roles-header {
    .expanded-header {
      font-size: 1.3em !important;
      }
    .expanded-info {
      font-size: 1em !important;
      }
  }
}

@media only screen and (min-width: 1200px) {
  .homepage {
    // background-color: gray;
  }
  .modal {
    .modal-content {
      width: 640px !important;
      height: 35%;
    }
  }
  .projects {
    .selected-project {
      h1 {
        font-size: 2em;
      }
      img {
        margin-bottom: 0.5em;
      }
      .project-notes {
        height: 370px;
        p, h5 {
          font-size: 1.2em;
        }
        .description {
          .skills {
            p, h5 {
              font-size: 1.1em;
            }
          }
        }
        .project-links {
          font-size: 2em;
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .homepage {
    // background-color: fuchsia;
    .brand-header {
      h2 {
        font-size: 4.5vmin !important;
      }
    }
  }
  .outside-coding {
    // background-color: thistle;
    width: 75% !important;
  }
  .experience {
    width: 32% !important;
    .multiple-role-info {
      .roles-header {
        .expanded-header {
      strong {
        width: auto;
      }
    }
    }
      .expanded-info {
        margin: 0;
        p { font-size: 1.2em;
        }
      }
    }
  }
  .skills {
    img {
      height: 5vh !important;
      max-width: 3vw !important;
    }
    #JSON {
      height: 18% !important;
      max-width: 20% !important;
    }
  }
  .modal {
    .modal-content {
      width: 640px !important;
      height: 35%;
      p, strong {
        font-size: 2vmin;
      }
    }
  }
  .contact {
    height: 100vh;
    .form {
      form {
        button {
          width: 200px;
        }
      }
    }
  }
}