* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  height: 100%;
  min-width: 100%;
  margin: 0;
}


#root {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  min-width: 100%;

}

// MOBILE QUERY - SCREEN SMALLER THAN 720px
#about-me, #projects { 
  height: 12vh;
  background-image: linear-gradient(#FFF1EE, #FFFEFE)
}

#skills, #contact {
  height: 14vh;
  width: 100vw;
  background-image: linear-gradient( #FFFEFE ,#FFF1EE)
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFF1EE;
  font-family: 'Aleo', sans-serif;
  .homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introduction {
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    p {
      font-size: 4vmax;
      color: #353535;
      font-variant: small-caps;
    }
  }
  .currently {
    font-family: 'Lato', sans-serif;
    width: 60vw;
    display: flex;
    align-self: center;
    text-align: center;
    font-style: 900;
    font-size: 4vmin;
    letter-spacing: 5px;
    border: 10px double #FFFEFE;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(116, 114, 114);
    color: transparent;
    text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
    opacity: 0;
    margin-top: 1vmax;
    margin-right: 1vmax;
  }
  .showAvailable {
    animation: glow linear 1s;
    animation-delay: 11s;
    animation-fill-mode: forwards;
  }
}
// NAVBAR

.header {
  animation: slideIn linear 5s;
  animation-fill-mode: forwards;
  background-color: #FFF1EE;
  position: fixed;
  width: 100vw;
  max-height: 25vh;
  font-size: 5.5vmin;
  font-variant: small-caps;
  letter-spacing: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #353535;
  z-index: 100;
    .navbar {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FFFEFE;
      letter-spacing: 1vmin;
        ul {
          width: 95%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0;
          li {
            // background-color: rosybrown;
            list-style: none;
            font-size: 1.8vmax;
            text-align: center;
            a {
              height: 20px;
              // background-color: red;
              font-family: 'Lato', sans-serif;
              text-decoration: none;
              color: #353535;
              padding: 0.1vmin 0;
              &:hover {
                font-weight: 900;
                border-bottom: 3px solid #E2D7D4;
                border-top: 3px solid #E2D7D4;
              }
            }
        }
        }
      }
  }




  // About Section


  .about-me {
    background-color: #FFFEFE;
    font-family: 'Aleo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353535;
    h1 {
      font-size: 6vmin;
      letter-spacing: 1vmin;
    }
    .brand-statement {
      width: 95%;
      display: flex;
      flex-direction: column;
      height: 75%;
      justify-content: space-around;
      align-items: center;
      h2 {
        font-size: 4.5vmin;
      }
      p {
        width: 95%;
        text-align: justify;
      }
      .brand-header {
        // background-color: lightcoral;
        display: flex;
        height: 2vh;
        width: 96vw;
        justify-content: space-between;
        align-items: center;
        img {
          height: 4vh;
        }
        .icon {
          color: black;
          font-size: 4.5vmin;
        }
      }
      .statement {
        height: 60vh;
        font-size: 3vmin;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .interests{
        // height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-top: 2px solid #EFE5E2;
        border-bottom: 2px solid #EFE5E2;
        font-size: 2vmin;
          span {
            font-size: 1.4vmax;
            font-style: italic;
          }
        .interests-container {
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          width: 100%;
          height: 100%;
        }
        
        .interest {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 98%;
          height: 100px;
          font-size: 1.8vmax;
          color: #353535;
          margin-bottom: 5px;
          div {
            // background-color: rosybrown;
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          h3 {
            font-size: 2.2vmax;
            font-weight: bold;
          }
          small {
            font-style: italic;
          }
        }
        .listening {
          height: 250px;
          h4 {
            font-weight: bold;
          }
        }
      }
  }
  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 60vh;
    .roles {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .experience {
      background-color: #FFF1EE;
      width: 100%;
      &:nth-of-type(6) {
        margin-bottom: 2vh;
      }
      h3 {
        margin-left: 2vh;
        font-size: 2.4vmax;
      }
      .experience-info {
        background-color: #FFF1EE;
        height: 3.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        .experience-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .toggle {
          color: #353535;
          background-color: #FFFEFE;
          border: 2px solid #C9C8C8;
          border-radius: 10vmax;
          font-size: 2.5vmin;
          font-weight: bold;
          height: 4vmin;
          width: 4vmin;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
        }
      
    }
    .expMoreInfo {
      height: 0em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  }
    }
  

.skills {
  background-color: #FFF1EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Aleo', sans-serif;
  .skills-container {
    // background-color: indigo;
    width: 90vw;
    // height: 70vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .skills {
      // background-color: hotpink;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: #353535;
      h2 {
        display: flex;
        align-self: flex-start;
        font-size: 5vmin;
        font-weight: bold;
      }
      .confident-skills, .comfortable-skills, .dabbled-skills{
        // background-color: green;
        // height: 37vh;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #353535;
        .icon {
          height: 9vh;
          width: 15vw;
          font-size: 5vmax;
          color: #353535;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          &:hover {
            color: #C9C8C8;
            p {
              background-color: #FFFEFE;
              color: #353535;
              opacity: 1;
            }
          }          
          p {
            font-size: 3.5vmin;
            position: absolute;
            color: #353535;
            font-weight: bold;
            padding: 0 3vmin;
            text-align: center;
            opacity: 0;
          }
        }
        img {
         max-height: 5vh;
         max-width: 11vw;
         color:  #353535;
        }
        #JSON {
          height: 1.5vh;
          max-width: 11vw;
        }
        #bulma {
          max-height: 3.7vh;
          max-width: 8vw;
        }
      }

    }
  
  }
}

.projects {
  height: 90vh;
  background-color: #FFFEFE;
  color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .project-container {
    border: 2px solid #E2D7D4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 90vw;
    .no-project {
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 3vmin;
      .icon {
        color: #E2D7D4;
      }
    }
    .selected-project {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      img {
        max-height: 25vh;
        max-width: 90%;
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 55%;
        width: 98%;
        h1 {
          font-size: 5vmin;
        }
        h5 {
          font-weight: bold;
          margin-left: 1vmin;
        }
        p {
          text-align: justify;
          font-size: 2.2vmin;
        }
        .skills {
          border: 1px solid #E2D7D4;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-self: center;
          width: 100%;
          max-height: 9vh;
          margin: 0 1.3vmin;
          p {
            margin: 1vmin;
            font-size: 2vmin;
          }
        }
        .project-links {
          font-size: 4.5vmin;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .icon {
          a {
            color: #C9C8C8;
            &:hover {
             color: #353535;
            }
          }
        }
        }
      }
    }
  }
  .project-list {
    background-color:#FFF1EE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 10vh;
    overflow: scroll;
    .project {
      border: 2px solid #E2D7D4;
      background-color: #FFFEFE;
      border-radius: 5px;
      margin: 0 1vmin;
      height: 8vh;
      width: 25vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-size: 1.1vmax;
      text-align: center;
      color: #353535;
      padding: 2vmin;
      img {
        max-height: 9vh;
        max-width: 20vw
      }
    }
  }
    }
.contact {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF1EE;
  h2 {
    font-size: 2.4vmax;
    letter-spacing: 2px;
  }
  .get-in-touch {
    font-size: 4vmax;
    width: 96vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 8vmin;
      letter-spacing: 2vmin;
      font-variant: small-caps;
    }
    .logos {
      width: 25vw;
      display: flex;
      justify-content: space-around;
      font-size: 5vmin;
      align-items: center;
      .fa-github, .fa-linkedin {
        color: #353535;
        &:hover {
          color: #cfcfcf;
        }
      }
    }
  }
  .form {
    height: 60%;
    // background-color: salmon;
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      .short-inputs {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

      }
      input {
        width: 95vw;
        font-size: 15px;
        background-color: #FFFEFE;
        padding: 2px;
        &:focus {
          outline: none;
          border: 2px double white;
          box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1) !important;
        }
      }
      .message {
        height: 60%;
        width: 95vw;
        background-color: #FFFEFE;
        padding: 2px;
        &:focus {
          outline: none;
          border: 2px double #FFFEFE;
          box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1) !important;
        }
      }
      button {
        background-color: #FFFEFE;
        height: 6vh;
        font-size: 3vmin;
        width: 20vw;
        border-radius: 5px;
        font-family: 'Aleo', sans-serif;
        color: #353535;
        border: 2px solid #C9C8C8;
      }
    }
  }
}
.email-sent {
  height: 50vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmax;
  text-align: center;
  h1 {
    font-size: 3vmin;
  }
}

.footer {
  background-color: #FFFEFE;
  width: 100%;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  span {
    color: #C9C8C8;
  }
}


@keyframes bounce {
  from {
    bottom: 0;
  }
  to {
    top: 0;
  }
}

@keyframes hidename {
 from {
   opacity: 1;
 }
 to {
   opacity: 0;
 }
}

@keyframes showname {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    height: 0em;
    overflow: hidden;
  }

  25% {
    height: 4em;
    overflow: hidden;
  }
  50% {
    height: 6em;
    overflow: hidden;
  } 
  100% {
    height: 10em;
    overflow: hidden;
  }
}


@keyframes hide {
  0% {
    height: 10em;
    overflow: hidden;
  }
  25% {
    height: 6em;
    overflow: hidden;
  }
  50% {
    height: 4em;
    overflow: hidden;
  }
  100% {
    height: 0em;
    overflow: hidden;
  }
}

@keyframes shrink {
  0% {
    height: 250px;
    opacity: 1;
    display: block;
  }
  0.2% {
    opacity: 0;
    display: block;
  }
  25% {
    height: 150px;
    opacity: 0;
    display: none;
  }
  50% {
    height: 75px;
    opacity: 0;
    display: none;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}


@keyframes glow {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  0.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
  0.2% {
    opacity: 0;
    box-shadow: none;
  }
  10% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
  10.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
  10.2% {
    opacity: 0;
    box-shadow: none;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
  50.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
  50.2% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 30px rgba(255,255,255,0.45), 0 0 30px rgba(255,255,255,0.25), 0 0 30px rgba(255,255,255,0.1);
  }
}


@keyframes slideIn {
  0% { 
   right: 100%;
   opacity: 0;
  }
  30% { 
    right: 0%;
    opacity: 0.3;
  }
  50% {
    right: 0%;
    top: 45%;
    opacity: 0.6;
  }
  75% {
    right: 0%;
    top: 0%;
    opacity: 1;
  }
  100% {
    right: 0%;
    top: 0%;
    opacity: 1;
  }
}

@keyframes borderGrow {
  0% {
    width: 0;
    border-top: none;
  }
  50% {
    width: 50%;
    border-top: 1px solid black
  }
  100% {
    width: 100%;
    border-top: 1px solid black
  }
}

@keyframes experienceContainer {
  from {
    height: 500px;
  }
  to {
    height: 800px;
  }
}

  // mobile version
@media only screen and (min-width: 650px) {
  .homepage {
    // background-color: lightgrey;
    .introduction {
      p {
      font-size: 5vmin;
      }
    }
    .header {
      height: 13vh;
      a { 
        font-size: 2.6vmin !important;
      }
    }
  .currently {
    width: 45vw;
  }
}

.about-me {
  h1 {
    font-size: 4.5vmin;
  }
  .brand-statement {
    .brand-header {
      height: 10vh;
      .icon {
        font-size: 3vmin;
      }
    }
    .statement {
      height: 80vh;
      font-size: 2.5vmin;
    }
  }
  .interests {
    span {
      font-size: 2vmin !important;
    }
    .interest {
      // background-color: tan;
      h3 {
        font-size: 2.5vmin !important;
      }
      h4 {
        font-size:  2.2vmin !important;
      }
      p {
        font-size: 2vmin !important;
      }
    }
  }
 .experience-container {
   justify-content: space-evenly;
   height: 100%;
   h1 {
     margin-bottom: 5vmin;
   }
   .roles {
    //  background-color: mediumpurple;
     flex-direction: row;
     align-content: space-evenly;
     flex-wrap: wrap;
     height: 30%;
   }
    .experience {
      width: 45%;
      height: 5%;
      margin-bottom: 5vmin;
      .experience-info {
        font-size: 1.7vmax;
        .experience-header {
          height: 3vh;
          display: flex;
          align-items: center;
          h3 { 
            font-size: 2vmin; 
          }
        }
      }
      .expMoreInfo {
        p {
          font-size: 2vmin;
        }
      }
    }
  }
}
 .skills {
   .skills-container {
     .skills {
      h2 {
        font-size: 3.7vmin;
      }
       .confident-skills, .comfortable-skills, .dabbled-skills {
         .icon {
           font-size: 5vmax;
           img, #JSON {
            width: 5.5vw !important;
          }
          #bulma {
            width: 5vw !important;
          }
          p {
            font-size: 2vmin;
          }
         }

       }
     }
   }
 }

.projects {
  .selected-project {
    .description {
      h1 {
        font-size: 3vmin !important;
      }
      p {
        font-size: 1.8vmin !important;
      }
      .project-links {
        .icon {
          font-size: 3vmin;
        }
      }
    }
    .skills {
      max-height: 11vh !important;
      h5 {
        font-size: 2vmin !important;
      }
      p {
        font-size: 1.7vmin !important;
      }
    }
  }
  .project-list {
    h3 {
      font-size: 1.7vmin;
    }
  }
}

.contact {
  height: 100vh;
  .get-in-touch {
    // background-color: lightgreen;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    h1 {
      font-size: 7vmin;
    }
    .logos {
      justify-content: space-around;
      width: 25vw;
      .icon {
        font-size: 5vmin;
      }
    }
  }
  h2 {
    font-size: 4vmin;
  }
  .form {
    width: 85%;
    height: 60%;
    margin: 0;
    display: flex;
    form {
      width: 100%;
      height: 100%;
      .short-inputs {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
          width: 100%;
          height: 5vh;
          font-size: 2.5vmin;
        }
      }
      .message {
        height: 40vh;
        font-size: 2.5vmin;
      }
    }
  }

}

.footer {
  div {
    font-size: 3vmin;
  }
}

}

@media only screen and (min-width: 800px) {
  .homepage {
    // background-color: maroon;
  }
  .currently {
    width: 45vw !important;
    padding: 2vmin;
  }
  .about-me {
    .brand-header {
      img {
        height: 5vh !important;
      }
    }
    .statement {
      font-size: 2vmin !important;
    }
    .experience-container {
      margin-top: 5vmin;
      width: 100%;
    }
    .experience {
      margin-bottom: 2vh;
    }
    .experience-info {
      background-color: mediumblue;
      height: 4vh !important;
      justify-content: center !important;

      h3 {
        font-size: 2vmin !important;
      }
    }
  }
  .interests {
    border-top: none !important;
    border-bottom: none !important;
  }
  .interests-container {
    // background-color: slategrey;
    height: 50% !important;
    margin-top: 1vmin;
    flex-direction: row !important;
    justify-content: space-between !important;
    .interest {
      border: 0.2vmin solid #FFF1EE;
      box-shadow: 0 0 30px rgba(255, 241, 238, 0.644), 0 0 30px rgba(255,241,238,0.45), 0 0 30px rgba(255,241,238,0.25), 0 0 30px rgba(255,241,238,0.1);
      border-radius: 2vmax;
      width: 30vw !important;
      height: 32vh !important;
      padding: 10px;
      align-items: center !important;
      justify-content: space-between !important;
      div {
        height: 100% !important;
        font-size: 1vmin !important;
      }
      h3 {
        font-size: 2vmax !important;
      }
    }
    .listening {
      // background-color: lightpink;
      padding: 10 25px;
      div {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
        }
      
      }
    }
  }
  .skills {
    .icon {
      font-size: 5vmax !important;
    }
    img { 
      width: 4vw !important;
    }
  }
#bulma {
  height: 4.8vh !important;
  width: 4vw !important;
}
.contact {
  height: 100vh;
}
}

@media only screen and (min-width: 900px) {
  .homepage {
    // background-color: gold;
  }
  .currently {
    max-width: 34.5vw !important;
    font-size: 3vmin !important;
  }
}

@media only screen and (min-width: 1000px) {
  .homepage {
    // background-color: salmon;
  }
.currently {
  min-width: 33vw !important;
  max-width: 35vw !important;
  font-size: 3vmin !important;
}
.expMoreInfo {
  p {
    font-size: 2vmin !important;
  }
}

.skills {
  .icon {
    font-size: 5vmin !important;
  }
  img {
    max-width: 4vw !important;
    max-height: 5vw !important;
  }
  #bulma {
    height: 3.5vh !important;
    max-width: 2.4vw !important
  }
}
#JSON {
  height: 1.5vh !important;
}
.get-in-touch {
  justify-content: center !important;
}
}

@media only screen and (min-width: 1500px) {
  .homepage {
    // background-color: green;
    .currently {
      width: 22vw !important;
    }
  }
  .brand-header {
    max-width: 60vw !important;
  }
  .experience {
    width: 30% !important;
  }
  .skills {
    img {
      height: 5vh !important;
      max-width: 2.2vw !important;
    }
    #bulma {
      height: 3.5vh !important;
      max-width: 2vw !important;
    }
  }
}